

<div class="container">

  <div class="container__phone">

    <div class="container__phone__header">
      <h3>Online</h3>
      <div class="profile">
        <img src="../../assets/avatar1.png" alt="person" (click)="logout()">
      </div>
    </div>

    <div class="container__phone__body">
      <div class="list-group list-group-flush" *ngIf="true">
        <div class="list-group-item list-group-item-action" *ngFor="let user of usersOnline; let i = index">
          <!-- (click)="gotToChat(item)" -->
          <div class="avatar">
            <img src="../../assets/avatar{{i + 1 }}.png" alt="person">
          </div>
          <div class="body">
            <span>{{user.nombre}}</span>
            <!-- <span>Hola</span> -->
          </div>
          <div class="time">
            <!-- <span>07:23 a.m.</span> -->
            <div></div>
          </div>
        </div>
      </div>
      <div class="no-chats container-fluid" *ngIf="false">
        <h5>¡Nadie conectado!</h5>
      </div>
    </div>

  </div>

</div>

<div class="container-2">
  <app-chat></app-chat>
</div>
