<div class="container">
  <div class="container__header">
    <!-- <div class="back" (click)="back()">
      <span class="material-icons">arrow_back</span>
    </div> -->
    <div class="avatar">
      <img src="../../assets/Logo_UES.jpg" alt="">
    </div>
    <div class="username">
      <span>Chat General</span>
    </div>
    <div class="more">
      <span class="material-icons">more_vert</span>
    </div>
  </div>
  <div class="container__body" id="content-chat">

    <div class="message" *ngFor="let message of messages">
      <div class="message-{{message.status}}">
        <div class="message-user">
          <span>{{message.nombre}}</span>
        </div>
        <div class="message-{{message.status}}__content">
          <span>{{message.message}}</span>
        </div>
        <div class="message-{{message.status}}__time">
          <span>{{message.time}}</span>
        </div>
      </div>
    </div>

  </div>
  <div class="container__footer">
    <div class="text-box">
      <input type="text" placeholder="Mensaje" [(ngModel)]="message" (keyup.enter)="sendMessage()">
    </div>
    <div class="send" (click)="sendMessage()">
      <span class="material-icons">send</span>
    </div>
  </div>
</div>
